{% extends "base.html.twig" %}

{% block title %}Création de film
{% endblock %}

{% block body %}
	<div class="game-form-container">
		<h1>Créer un nouveau film</h1>

		{% include "film/_form.html.twig" %}
		<div class="action-buttons">
			<a href="{{ path('app_film_index') }}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>
				Retour à la liste
			</a>
		</div>
	</div>

{% endblock %}