{% extends "base.html.twig" %}

{% block body %}
	{# on recupère le template de detail card #}
	{% include "components/_detail_card.html.twig" %}

	<div class="action-buttons">
		<div>
			{# suppression #}
			{% include "film/_delete_form.html.twig" with {'button_class': 'btn btn-delete'} %}
		</div>
		<div>
			<a href="{{ path('app_film_edit', {'id': film.id}) }}" class="btn btn-edit">Editer</a>

		</div>
		<div>
			<a href="{{path('app_film_index')}}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>Retour à la liste</a>

		</div>

	</div>
{% endblock %}